@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Edit", "Words", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="row">
        <label for="user" class="text-right col-xs-3 col-sm-3">User: </label>
        <input type="text" id="user" name="user" class="col-xs-3 col-sm-3">
    </div>
    <div class="row">
        <br />
        <label for="pass" class="text-right col-xs-3 col-sm-3">Password:</label>
        <input type="password" id="pass" name="pass" class="col-xs-3 col-sm-3">
    </div>
    <div class="row">
        <br />
        <input type="submit" value="Login" class="col-xs-3 col-sm-3 col-xs-offset-3 col-sm-offset-3">
    </div>
}