@model IEnumerable<ReactMvc.Models.Word>
@using Kendo.Mvc
@using Kendo.Mvc.UI


@{
    ViewBag.Title = "Edit";
    var edit = Session["Edit"] as string;
}

<div class="text-left">
    @(Html.Kendo().Grid<ReactMvc.Models.Word>
    ()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.French).Width(400).Filterable(false);
        columns.Bound(c => c.Vietnam).Width(400).Filterable(false);
        columns.Bound(c => c.Type).Width(100).Filterable(ftb => ftb.Multi(true).Search(true));
        if (edit == "Yes")
        {
            columns.Command(command =>
            {
                command.Edit()
                .Text(" ")
                .UpdateText(" ")
                .CancelText(" ");
            }).Width(45).HtmlAttributes(new { style = "padding:2px;margin:0px;text-align: center" });
        }

    })
    .Pageable()
    .Filterable()
    .DataSource(dataSource => dataSource
    .Ajax()
    .Model(m =>{    m.Id(p => p.Id);})
    .Read(read => read.Action("Words_Read", "Words"))
    .Update(update => update.Action("Words_Update", "Words"))
    )
    )
</div>
<style>
    div.k-grid-header thead th.k-header {
        height: 26px;
        padding: 1px;
        margin: 1px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        white-space: normal;
        word-break: break-word;
        vertical-align: middle;
    }

    .k-grid .k-grid-toolbar .k-grid-add,
    .k-grid tbody .k-grid-edit,
    .k-grid tbody .k-grid-update,
    .k-grid tbody .k-grid-cancel,
    .k-grid tbody .k-grid-delete {
        min-width: 0;
        height: 20px;
        width: 20px;
        display: inline-grid;
        margin: 0;
        padding: 0;
    }

        .k-grid .k-grid-toolbar .k-grid-add .k-icon,
        .k-grid tbody .k-grid-edit .k-icon,
        .k-grid tbody .k-grid-update .k-icon,
        .k-grid tbody .k-grid-cancel .k-icon,
        .k-grid tbody .k-grid-delete .k-icon {
            margin: 0;
            height: 20px;
            width: 20px;
            display: inline-grid;
            padding: 0;
        }
</style>