@{
    ViewBag.Title = "Home";
}

<div class="row" style="padding-left:10px">
    <div id="content"></div>
    <script crossorigin src="~/Scripts/react.js"></script>
    <script crossorigin src="~/Scripts/react-dom.js"></script>
    <script crossorigin src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/Words.js" type="text/babel">
    </script>

</div>
